* {
    background-color: #323437;
    color: #646661;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

}

.title h1 {
    padding-top: 5%;
    text-align: center;
    color: #E2B714;
    font-size: 50px;
}

.text p {
    padding: 2% 30% 0% 30%;

}

.socialmedia {
    padding: 0% 30% 0% 30%;
}

.socialmedia a:hover {
    color: #E2B714;
    transition-duration: 1s;
}

