* {
    background-color: #323437;
    color: #646661;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.title h1 {
    color: #E2B714;
    font-size: 50px;
}